@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt, form, input, select.textarea, fieldset, legend {
  margin: 0;
  padding: 0; }

body {
  min-width: 1200px;
  font: 14px "微软雅黑"; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

b, i, em, strong {
  font-weight: normal;
  font-style: normal; }

/* 图片间隙的问题：
  把图片放在块状元素中，在块状元素没有设置高度的情况下，盒子的高度会比图片大3~5px
  解决方法：
    display:block;

   把图片放在超链接a里面，在ie的低版本浏览器中，会出现蓝色的边框，解决img{border:0;}
*/
img {
  display: block;
  border: 0; }

header .type-area {
  width: 1200px;
  display: flex;
  margin: 0 auto; }

header {
  width: 100%;
  line-height: 60px;
  background: #fff; }
  header .type-area {
    justify-content: space-between;
    align-items: center; }
  header .logo {
    display: flex; }
    header .logo img {
      width: 85px;
      margin-right: 30px;
      cursor: pointer; }
    header .logo span {
      font-size: 16px; }
  header .tools a span {
    color: #32BEFF; }
  header .tools i {
    display: inline-block;
    margin: 0 10px; }

main {
  background: #5DCAF5;
  padding-bottom: 30px; }
  main .type-area {
    width: 1200px;
    margin: 0 auto;
    display: flex; }
    main .type-area .bg-img {
      width: 50%;
      height: 580px;
      background: url(../images/2020-12-17_113505.jpg); }
    main .type-area .right {
      width: 50%; }
      main .type-area .right fieldset {
        background: #fff;
        width: 420px;
        height: 448px;
        margin: 0 auto;
        border: none; }
        main .type-area .right fieldset h4 {
          line-height: 61px;
          color: #333;
          font-size: 16px;
          font-weight: 500;
          box-sizing: border-box;
          padding-left: 30px;
          border-bottom: 1px solid #e5e5e5; }
        main .type-area .right fieldset .way {
          margin: 25px 30px 0px;
          display: flex; }
          main .type-area .right fieldset .way span {
            font-size: 36px;
            color: #999;
            margin-right: 20px; }
            main .type-area .right fieldset .way span i {
              font-size: 14px;
              margin: 5px;
              color: #999; }
          main .type-area .right fieldset .way .icon-diannao {
            color: #005AAA; }
            main .type-area .right fieldset .way .icon-diannao i {
              color: #005AAA; }
          main .type-area .right fieldset .way img {
            width: 50px; }
        main .type-area .right fieldset form {
          margin: 25px 30px; }
          main .type-area .right fieldset form .f-p {
            position: relative; }
            main .type-area .right fieldset form .f-p .icon-Group- {
              position: absolute;
              top: 10px;
              left: 12px;
              font-size: 28px;
              color: #999; }
            main .type-area .right fieldset form .f-p .icon-suo {
              position: absolute;
              top: 10px;
              left: 12px;
              font-size: 28px;
              color: #999; }
            main .type-area .right fieldset form .f-p .icon-wenhao {
              position: absolute;
              font-size: 28px;
              top: 10px;
              right: 12px;
              color: aqua; }
          main .type-area .right fieldset form input {
            box-sizing: border-box;
            width: 360px;
            height: 50px;
            margin-bottom: 15px;
            border: 1px solid #999;
            padding-left: 50px; }
          main .type-area .right fieldset form #login {
            padding-left: 0px; }
        main .type-area .right fieldset .text1 {
          margin: 0px 0px 20px 6px;
          color: #666; }
          main .type-area .right fieldset .text1 :nth-child(2), main .type-area .right fieldset .text1 :nth-child(3) {
            font-size: 12px;
            color: #32BEFF; }
        main .type-area .right fieldset .text2 {
          color: #666;
          margin: 0px 0px 20px 6px; }
      main .type-area .right .text {
        margin: 20px 0px 20px 115px;
        color: #fff; }
        main .type-area .right .text span {
          margin-left: 5px; }

footer {
  background-color: #515252;
  height: 56px; }
  footer .type-area {
    width: 1200px;
    margin: 0 auto; }
    footer .type-area .webstat {
      display: flex;
      justify-content: space-between; }
      footer .type-area .webstat ul {
        display: flex;
        line-height: 56px;
        font-size: 12px;
        cursor: pointer;
        color: #999; }
        footer .type-area .webstat ul i {
          margin: 0 5px; }
        footer .type-area .webstat ul span {
          margin-left: 5px; }

/*# sourceMappingURL=login.css.map */
